.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  outline: none;
  width: 500px;
  height: 40px;
  padding: 8px;
  border-radius: 25px;
}
.resetButton {
  outline: none;
  color: #111;
  background: #e5e5e5;
}
